/* @author: John Lusky
   Date: 4/24/18
 */

/* ~-------------------------------------~*/
/// Imports
/* ~-------------------------------------~*/

// Functional
@import "functional/mixins";
@import "functional/fonts";
@import "functional/settings";

// Boilerplate
@import "boilerplate/normalize";
@import "boilerplate/boilerplate";

// Structural
@import "structural/grid";
@import "structural/modules";
@import "structural/sections";

/* ~-------------------------------------~*/
/// Global Vars
/* ~-------------------------------------~*/
$w: $desktop-sm;

/* ~-------------------------------------~*/
/// Global Styles
/* ~-------------------------------------~*/
body {
    -webkit-font-smoothing: antialiased;
    background: $white;
    overflow-x: hidden;
    width: 100%;
    font-family: $font-primary;
    color: $dark-gray;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h2 {
    margin: $gutter-sm 0;
}

p {
    margin: $gutter-sm 0;
    font-weight: 400;
}

a {
    color: $color-secondary;
    text-decoration: underline;

    &:focus {
        outline: none;
    }
}

.show-for-mobile {
    display: none;

    @include smaller-than($phone-lg) {
        display: block;
    }
}

.hide-for-mobile {
    display: block;

    @include smaller-than($phone-lg) {
        display: none;
    }
}

#main-contain {
    max-width: $w;
    margin: 0 auto;
    padding: $gutter-md;
    border: 3px dotted $light-gray;
}
