/* @author: John Lusky
   Date: 4/24/18
 */

/// Imports
@import "_normalize";
@import "_boilerplate";
@import "_mixins";
@import "_typography";

/// Colors
$white: #ffffff;
$black: #000000;
$green: #00fa87;
$blue: #22d7fd;
$light-gray: #E4E4E4;
$dark-gray: #1c1d1e;
$darkest-gray: #151515;

/// Global Vars
$width: 1280px;

/// Global Styles
body {
    -webkit-font-smoothing: antialiased;
    background: $darkest-gray;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    color: $white;
}

h1, h2 {
    font-family: $font-arial;
    color: $green;
}

a {
    color: $blue;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}
