/// Mixins
@mixin textIndent() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin smaller-than($size) {
    @media all and (max-width: $size) {
        @content;
    }
}

@mixin larger-than($size) {
    @media all and (min-width: $size) {
        @content;
    }
}
